body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
}

/* nav bars styling */
.navbar {
  min-height: 5rem;
  background-color: white !important;
}

.fa-compass {
  font-size: 2rem;
  color: #fe424d;
}
.nav-link {
  color: #090909 !important;
  font-size: large !important;
  font-weight: 500 !important;
}
/* footer styling */

.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ebebeb;
}
.f-info-link {
  width: 100%;
}
.f-info-social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-brands {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.f-info-link a {
  text-decoration: none;
  color: #090909;
}

.f-info-link a:hover {
  text-decoration: underline;
}
/* card styling */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card img {
  background-position: center center;
}
.listingOwner{
  font-weight: 700;
  font-size: medium;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.row a {
  text-decoration: none;
}

/* card effect */
.card-img-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #fff;
}

/* new page */
.btn-styled {
  font-size: 1rem !important;
  font-weight: bold !important;
  padding: 0.8rem 1.5rem !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  color: white !important;
}
/* Specific button colors */
.add-btn {
  background-color: #fe424d !important; /* Unique color for add button */
}
.add-btn:hover {
  opacity: 0.8 !important;
}

.delete-btn {
  background-color: #100f0f !important; /* Unique color for delete button */
}
.delete-btn:hover {
  opacity: 0.8 !important;
}
.listingOwner {
  color: #666; /* Use a lighter gray color */
}
/* show page */

.btn-container {
  display: flex;
  gap: 3rem;
}

.review-submit-btn {
  background-color: #100f0f !important; /* Matches delete button color */
}
.review-submit-btn:hover {
  opacity: 0.8 !important;
}

/* maps */

#map{
  width: 100%;
  height: 25rem;
}

/* for switch the taxess button */
.switcht{
  border: 2px solid black;
  opacity: .8;
  border-radius: 1rem;
  padding: 1rem;
  height: 3rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;

}